<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scufy.scubing"
    android:versionCode="6"
    android:versionName="1.5.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="20" />

    <!-- 应用权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.scubing.Welcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 关于界面 -->
        <activity
            android:name="com.scubing.ui.MainAbout"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- 主操作界面  -->
        <activity
            android:name="com.scubing.ui.MainView"
            android:screenOrientation="portrait">
        </activity>
        
        <!-- 所有成绩查看界面  -->
        <activity
            android:name="com.scubing.ui.MainAllGrade"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- 技术工具  -->
        <activity
            android:name="com.scubing.ui.CMDTools"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- gpa计算  -->
        <activity
            android:name="com.scubing.ui.MainGpa"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- 一键评教  -->
        <activity
            android:name="com.scubing.ui.MainEvaluation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
